.playing {
    display: inline-block;
    width: 40px;
    height: 55px;
    line-height: 0.5;
    text-align: center;
    margin-left: 2.5px;
    margin-right: 2.5px;
    font-weight: bold;
    font-size: 20px;
}

.size36 {
    font-size: 36px;
    width: 50px;
    height: 75px;
}

.size72 {
    font-size: 72px;
    width: 90px;
    height: 130px;
}

.size72 .card-body .card-title {
    margin-top: 0.25rem;
    margin-bottom: 1.25rem;
}

.card.playing.back {
    background-color: #17a2b8!important;
    border-color: #343a40!important;
    border-width: 2px;
}

.card.playing.emptyplace {
    background-color: #ced4da!important;
    border-color: #a3a3a3!important;
    border-width: 2px;
}

.card.playing.suit-hearts {
    color: #dc3545!important;
    border-color: #dc3545!important;
    border-width: 2px;
}

.card.playing.suit-spades {
    color: #343a40!important;
    border-color: #343a40!important;
    border-width: 2px;
}

.card.playing.suit-diams {
    color: #007bff!important;
    border-color: #007bff!important;
    border-width: 2px;
}

.card.playing.suit-clubs {
    color: #28a745!important;
    border-color: #28a745!important;
    border-width: 2px;
}

.card.playing.fullcolor.suit-hearts {
    background-color: #dc3545!important;
    color: white!important;
    border-color: #343a40!important;
    border-width: 2px;
}

.card.playing.fullcolor.suit-spades {
    background-color: #343a40!important;
    color: white!important;
    border-color: #343a40!important;
    border-width: 2px;
}

.card.playing.fullcolor.suit-diams {
    background-color: #007bff!important;
    color: white!important;
    border-color: #343a40!important;
    border-width: 2px;
}

.card.playing.fullcolor.suit-clubs {
    background-color: #28a745!important;
    color: white!important;
    border-color: #343a40!important;
    border-width: 2px;
}

.card.playing .card-body {
    padding: 0.55rem;
}

.card.playing.suit-hearts .card-body .card-text::before {
    content: "♥";
}

.card.playing.suit-diams .card-body .card-text::before {
    content: "♦";
}

.card.playing.suit-clubs .card-body .card-text::before {
    content: "♣";
}

.card.playing.suit-spades .card-body .card-text::before {
    content: "♠";
}

.card.playing.rank-a .card-body .card-title::before {
    content: "A";
}

.card.playing.rank-2 .card-body .card-title::before {
    content: "2";
}

.card.playing.rank-3 .card-body .card-title::before {
    content: "3";
}

.card.playing.rank-4 .card-body .card-title::before {
    content: "4";
}

.card.playing.rank-5 .card-body .card-title::before {
    content: "5";
}

.card.playing.rank-6 .card-body .card-title::before {
    content: "6";
}

.card.playing.rank-7 .card-body .card-title::before {
    content: "7";
}

.card.playing.rank-8 .card-body .card-title::before {
    content: "8";
}

.card.playing.rank-9 .card-body .card-title::before {
    content: "9";
}

.card.playing.rank-t .card-body .card-title::before {
    content: "T";
}

.card.playing.rank-j .card-body .card-title::before {
    content: "J";
}

.card.playing.rank-q .card-body .card-title::before {
    content: "Q";
}

.card.playing.rank-k .card-body .card-title::before {
    content: "K";
}

@media (max-width: 400px) {
    .card.playing.suit-hearts .card-body .card-text::before {
        content: "♥";
        font-size: 8px!important;
    }
    .card.playing.suit-diams .card-body .card-text::before {
        content: "♦";
        font-size: 8px!important;
    }
    .card.playing.suit-clubs .card-body .card-text::before {
        content: "♣";
        font-size: 8px!important;
    }
    .card.playing.suit-spades .card-body .card-text::before {
        content: "♠";
        font-size: 8px!important;
    }
}